*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*Header*/
header{
        background-image: url("header.jpg");
        background-size: cover;
        display: inline-flexbox;
        padding: 4% 5% 8%;
        color: #FFFFFF;        
}
#logo{
    width: 40%;
    height: 90%;
}
 a{
    color: #FFFFFF;
    font-size: 172%;
    margin-left: 5%;
    text-decoration: none; 
}
a:hover{
    color: black;
}


 #menu{
    text-align: right;

}
h1{
    font-size: 400%;
    margin-top: 30%;
    padding-bottom: 10px;
}

/*Nosotros*/
main{
    margin: 0% 6% 0%;
}
#nosotros{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.parte1{
    width: 33%;
    text-align: center;
    margin: 2% 0%;
}
.icono1{
        margin-bottom: 10%;
        width: 130px;
        height: 130px;
}
h2{
    text-align: center;
    padding: 3%;
    font-size: 330%;
    font-weight: lighter;
}

.titulo{
    font-weight: 1000;
    text-align: center;
    font-size: 220%;
    padding: 7px 0px 27px;
}
p{
    font-size: 100%;
    font-weight: bold;
    text-align: center;

}
/*Casas y depas*/
#casas_y_depas{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
}
.parte2{
    width: 31%;
    height: 60%;
    padding: 0px;
    margin: 10px ;
    display:inline-block;
    justify-content: space-between;
    background-color: rgb(224, 221, 221);
    border-color:rgb(177, 174, 174) ;
}
.casas{
    width: 100%;

}
.casa{
    font-size: 120%;
}
.precio{
    color: rgb(23, 175, 23);
}
.iconos{
    justify-content: space-around;
}
.icono{
    justify-content: center;
    margin-left:  9%;
    padding-right: 4%;

}
.propiedad{
    background-color: rgb(228, 139, 38);
    border-color:  rgb(228, 139, 38) ;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 125%;
    padding: 1% 16% 1% 8%;
    margin: 4% 16%;
    justify-content: center;
}
.propiedad:hover{
    background-color: rgb(190, 112, 22) ;
}
#todas{
    background-color: rgb(107, 194, 26);
    border-color:  rgb(107, 194, 26) ;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 125%;
    padding: 1% 8%;
    margin: 6% 0% 3% 70% ;
}
#todas:hover{
    background-color: rgb(79, 145, 17);

}

/*Contacto*/
#parte3{
    background-image: url("contacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flexbox;
    color:#FFFF;
    padding: 7%;
    padding-bottom: 3%;
    font-family: 'Roboto', sans-serif;
}
h3{
    margin-top: 3%;
    padding-bottom: 4%;
    font-size: 320%;
}
#p3{
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    text-align: left
;}
#contacto{
    background-color: rgb(228, 139, 38);
    border-color:  rgb(228, 139, 38) ;
    color: #FFFFFF;
    font-size:145% ;
    font-weight: bold;
    padding: 1% 5%;
    margin: 3%;
}
#contacto:hover{
    background-color: rgb(190, 112, 22) ;
}

/*Footer*/
footer{
    height: 120px;
    background-color: rgb(61, 58, 58);
    text-align: left;
    font-size: 18px;
    padding: 34px 12px 16px;
}
footer #design{
    color: white;
    text-align: right;
    font-size: 23px;
}
